h1
{
	color: black;
	font-family: 'Arial';
	font-style: normal;
	font-size: 130%;
	padding-top: 5%;
	text-align: center;	
}
h2
{
	color: black;
	font-style: normal;
	font-size: 120%;
	text-decoration: underline;
	margin: 1.5%;
}


body
{
	padding: -6%;
	margin: 5%;
}
form
{
	box-shadow: 12px 10px 12px 10px;
	border:12%;
}